<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Developer Student Club at Georgia Tech - Powered By Google Developers</title>
    <meta name="description"
        content="Google collaborates with university students who are passionate about growing developer communities and support them with starting student clubs on their campuses.">
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- jQuery CDN and Popper.js CDN -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>

    <!-- Materialize CDN -->
    <link rel="stylesheet" href="../libs/materialize-v1.0.0/css/materialize.min.css">
    <script src="../libs/materialize-v1.0.0/js/materialize.min.js"></script>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->

    <!-- OwlCarousel2 -->
    <link rel="stylesheet" href="../libs/OwlCarousel2-2.3.4/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../libs/OwlCarousel2-2.3.4/css/owl.theme.default.min.css">

    <!-- Open Sans Font -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap"
        rel="stylesheet">

    <!-- Material Design Icons -->
    <script src="https://kit.fontawesome.com/6aec46af78.js"></script>

    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="../favicon/site.webmanifest">

    <link rel='stylesheet' type='text/css' media='screen' href='../css/index.css'>

    <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155556161-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-155556161-1');
	</script>
</head>

<body>

    <!-- PRELOADER START -->
    <div class="preloader-background">
        <div class="loading">
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
        </div>
        <div class="blinking">
            <p>Loading</p>
        </div>
    </div>
    <!-- PRELOADER END -->

    <!-- NAVBAR START -->
    <div class="navbar-fixed">
        <nav class="whiteNav" role="navigation">
            <div class="nav-wrapper container">
                <a href="#Home" class="brand-logo">
                    <div class="center-brand">
                        <img class="dsc-logo" src="../images/dsc-logo-2.png">
                        <span class="dsc-brand hide-on-small-only">&nbsp;&nbsp;DSC GT</span>
                    </div>
                </a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="nav-item">
                        <a class="nav-link" href="/">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://dscgt.eventbrite.com">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/team">Our Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.fb.me/dscgt/">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://dscgt.slack.com">
                            <i class="fab fa-slack"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="mailto:dsc.gatech@gmail.com?subject=Developer Student Club at Georgia Tech">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- NAVBAR END -->

    <!-- SIDENAV START -->
    <ul class="sidenav" id="mobile-nav">
        <li><a class="menu-items" href="#AboutUs">About Us</a></li>
        <li><a class="menu-items" href="/events">Events</a></li>
        <li><a class="menu-items" href="/team">Our Team</a></li>
    </ul>
    <!-- SIDENAV END -->

    <!-- LANDING START -->
    <div id="Home" class="header-section scrollspy">
        <div class="brand container">
            <div class="row">
                <div class="brand text-center">
                	<img style="max-width: 100%;" src="../images/dsc-word.png">
                    <h2 class="caption-subtitle">Powered By Google Developers</h2>
                    <code class="hashtag">#developerstudentclubs</code>&nbsp;&nbsp;
                    <code class="hashtag">#googlestudents</code>&nbsp;&nbsp;
                    <code class="hashtag">#growwithgoogle</code>&nbsp;&nbsp;
                    <br><br><br><br>
                    <a class="waves-effect waves-light blue btn-large" href="http://eepurl.com/gFivdf" target="_blank">Get notified</a>
                </div>
            </div>
        </div>
        <div id="particles-js"></div>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    </div>
    <!-- LANDING END -->

    <!-- CONTENT START -->
    <div class="main">

        <!-- ABOUT US START -->
        <div id="AboutUs" class="about-section scrollspy">
            <div class="row about-section-flex">
                <div class="col s10 offset-s1 m10 offset-m1 l5">
                    <div class="about-text-area">
                        <h2 class="about-title text-white">About DSC</h2>
                        <h4 class="description text-white">Developer Student Clubs (DSC) are university based community groups for students. Students from all undergraduate or graduate programs with an interest in growing as a developer are welcome. By joining a DSC, students grow their knowledge in a peer-to-peer learning environment and build solutions for local businesses and their community.
                        </h4>
                        <a class="waves-effect waves-light btn-large about-learn-more"
                            href="https://developers.google.com/community/dsc/">Learn More</a>
                    </div>
                </div>
                <div class="col hide-on-small-only l7 about-section-img" style="overflow:hidden">
                </div>
            </div>
        </div>
        <!-- ABOUT US END -->

        <!-- WHAT WE DO START -->
        <div class="what-we-do-section">
            <div class="container">
                <h1 class="what-we-do-title">What we do</h1>
                <h3 class="what-we-do-description">
                    <div class="row">
                        <div class="col s6">
                            <div class="what-we-do-col-content">
                                <h4>Teaching</h4>
                                <h5>Hosting workshops and StudyJams, we teach people of all backgrounds how to use Google technologies. <br>From performing data analysis on huge datasets to building an app to link local business owners, these are our educational goals.</h5>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="what-we-do-col-content">
                                <h4>Projects</h4>
                                <h5>Our projects give back to the local community. This can take the form of helping the Georgia Tech community or removing difficulties local Atlanta citizens face.</h5>                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <h5>Learn at Georgia Tech.</h5>
                        </div>
                        <div class="col s6">
                            <h5>Give back at Georgia Tech.</h5>                        
                        </div>
                    </div>  
                </h3>
            </div>
        </div>
        <!-- WHAT WE DO END -->

        <!-- PROJECTS START -->
        <div class="domains-section">
            <div class="container">
                <h1 class="domains-title">Projects</h1>
                <div class="row">
                    <div class="col s12 bg-white round-divs">
                        <h3 class="domains-type"><ul><a href="https://forms.gle/3cPCtGETeZwVBqAB6">Reach out to us if you have a project in mind!</a></ul></h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- DOMAINS END -->
    </div>
    <!-- CONTENT END -->

    <!-- FOOTER START -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5 class="text-gray footer-title">Developer Student Club at Georgia Tech</h5>
                    <p class="text-gray footer-location">Georgia Institute of Technology
                        <br>Atlanta, GA
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->

    <script src='../js/index.js'></script>
    <script src='../js/particles.js'></script>
    <script src="../libs/OwlCarousel2-2.3.4/js/owl.carousel.min.js"></script>
</body>

</html>